@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

.container {
  margin: 0 5vw;
}

@media (min-width: 768px) {
  .container {
    margin: 0 10vw;
  }
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  overflow-x: hidden;
  z-index: 1000;
}

.nav-wrapper nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.nav-wrapper nav .nav-toggler {
  position: fixed;
  top: 5%;
  right: 5vw;
  z-index: 10005;
}

.nav-wrapper nav .logo {
  padding: 1rem 0;
}

.nav-wrapper nav .nav-links {
  display: none;
}

.nav-wrapper nav .nav-links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  padding: 1rem;
}

.nav-wrapper nav .nav-links a:hover {
  color: black;
}

.nav-wrapper nav .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) {
  .nav-wrapper nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-wrapper nav .nav-toggler {
    right: 10vw;
    display: none;
  }
  .nav-wrapper nav .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header {
  position: relative;
}

.header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.header .content .text-section {
  color: #406ab8;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.header .content .image-wrapper img {
  width: 300px;
}

.header .content .cta-section {
  position: absolute;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .content .cta-section p {
  text-transform: uppercase;
}

.header .content .cta-section svg {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.header .content .cta-section svg:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .content .cta-section svg:hover path {
  fill: #fa7900;
}

@media (min-width: 768px) {
  .header .content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header .content .text-section h1 {
    width: 0;
    font-size: 76px;
  }
  .header .content .image-wrapper {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header .content .image-wrapper img {
    width: 560px;
  }
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 100vh;
}

.description .content {
  padding-top: 18vh;
  margin-bottom: 2rem;
}

.description .content h2 {
  margin-bottom: 2rem;
  color: #406ab8;
  font-weight: 500;
}

.description .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.description .cards .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 2rem;
  width: 270px;
  height: 270px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.description .cards .card:hover {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

.description .cards .card p {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background: #1b1b1b;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem;
}

.description .cards .card p span {
  font-weight: 300;
}

.description .cards .card p:hover {
  color: crimson;
}

.description .cards #one {
  background-image: url(/images/coronavirus.jpg);
}

.description .cards #two {
  background-image: url(/images/medical-treatment.jpg);
}

.description .cards #three {
  background-image: url(/images/departments.jpg);
}

@media (min-width: 768px) {
  .description {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .description .content h2 {
    text-align: center;
    text-transform: uppercase;
  }
  .description .cards {
    width: 65vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .description .cards .card {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }
  .description .cards .card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.footer-wrapper {
  background: #1b1b1b;
  color: #fff;
}

.footer-wrapper footer {
  padding: 2rem 0;
  font-weight: 300;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  grid-gap: 1rem;
}

.footer-wrapper footer .social-links .footer-title {
  margin-bottom: 3rem;
}

.footer-wrapper footer .social-links .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrapper footer .social-links .social-icons a {
  text-decoration: none;
}

.footer-wrapper .footer-text {
  text-align: center;
  padding: 1rem 0;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .footer-wrapper footer .note {
    font-family: sans-serif;
    font-weight: 700;
  }
  .footer-wrapper footer .social-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 1.5rem;
  }
  .footer-wrapper footer .social-links .footer-title {
    margin-bottom: 0;
  }
  .footer-wrapper footer .social-links .social-icons {
    width: 10vw;
  }
  .footer-wrapper footer .social-links .social-icons a {
    opacity: 0.5;
  }
  .footer-wrapper footer .social-links .social-icons a:hover {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */